/* common*/

* {
margin:0;
padding:0;
}
a {
text-decoration:none;
}
li {
    list-style:none;
}
.container {
    max-width: 1200px;
    padding: 0 25px;
    margin: 0 auto;
}


/* header*/
.header_main {
    display:flex;
    flex-direction:column;
}
header {
    color: #00d1cd;
}
header .container {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
header .logo img {
    width:140px;
}

/* main */
.main_container {
    text-align:center;
}
.main_heading1 {
    text-align: center;
    color: #5e0a0a;
    font-size: 14px;
    font-family: 'PT Serif', serif;
}
.main_hrading2 {
    text-align: center;
    color: #5e0a0a;
    font-size: 25px;
    padding-top: 5px;
    font-family: 'PT Serif', serif;
}
.main_para {
    text-align: center;
    color: #5e0a0a;
    font-size: 12px;
    padding: 5px 0px 14px 0px;
    font-family: 'PT Serif', serif;
}
.main_button {
    border: 2px solid black;
    text-decoration: none;
    font-size: 12px;
    color: black;
    text-align: center;
    padding: 5px 14px;
    margin: 115px;
    font-family: 'Lato', sans-serif;
    font-weight:600;
}

/* header*/
.admission_box {
    background-color: #00d1cd;
    text-align: center;
    padding: 10px 0px 20px 0px;
    margin: 41px 30px 0px;
}
.admission {
    color: #fff;
    text-align: center;
    margin: 10px 0px 20px 0px;
    font-family: 'PT Serif', serif;
}
.admission_button {
    border: 2px solid #fff;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding: 5px 8px;
    text-align: center;
}

/* courses*/
.courses {
    background-color: #fffde8;
    margin-top: 36px;
    text-align: center;
    padding: 20px 0px 5px 0px;
}
.courses h2 {
    text-align: center;
    color: #5e0a0a;
    margin-bottom: 30px;
    font-family:'Lato', sans-serif;
    font-size:20px;
}
.courses span {
    border-bottom: 2px solid #00d1cd;
}
.courses .course {
    margin-bottom: 50px;
}
.courses .course img {
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
.course .course_heading1 {
    text-align: center;
    font-size: 15px;
    color: #5e0a0a;
    margin: 10px 0;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}
.courses .course .para1 {
    text-align: center;
    font-size: 11px;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    line-height: 18px;
}
.courses .course .para2 {
    padding: 12px;
    text-align: center;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}
.courses .course .para3 {
    text-align: center;
    font-size: 14px;
    padding: 4px 0px 19px 0px;
    color: #00d1cd;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}
.courses .course .course_button1 {
    border: 2px solid black;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 7px;
    font-size: 12px;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight:600;
}
.courses .course .ug_course img {
    padding-top: 35px;
    background-position: center;
}

/* research*/
.research {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.research .container {
    padding: 0;
}
.research_heading {
    text-align: center;
    color: #5e0a0a;
    margin-top: 25px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
.research_heading span {
    border-bottom: 2px solid #00d1cd;
}
.research img {
    background-position: center;
    width: 100%;
}
.research_para1 {
    text-align: center;
    font-size: 12px;
    padding: 14px;
    font-family: 'Lato', sans-serif;
}
.research_boxes {
    background-color: #ff3e6d;
    width: 100%;
    padding-bottom: 25px;
}
.research_sub_heading {
    color: #fff;
    padding-top: 30px;
    text-align: center;
    margin-top: 0px;
    font-family: 'Lato', sans-serif;
}
.research_para2 {
    text-align: center;
    color: #fff;
    margin: 17px 0px 26px 0px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}
.research_button {
    border: 2px solid #fff;
    color: #fff;
    font-size: 12px;
    margin: 10px 0px 0px 220px;
    padding: 3px 8px;
    font-family: 'Lato', sans-serif;
}

/* news*/
.news {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.news-item {
    margin: 50px 0px 20px 0px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}
.news-item span {
    border-bottom: 2px solid #00d1cd;
}
.news-item_box {
    background-color: #fff;
    margin: 26px 33px 0px;
    position: relative;
    bottom: 65px;
}
.news-item_title {
    text-align: center;
    font-size: 17px;
    padding: 10px;
    font-family: 'PT Serif', serif;
}
.news-item_date {
    text-align: center;
    font-family: 'PT Serif', serif;
}
.news-item_para {
    text-align: center;
    font-size: 12px;
    padding: 10px;
    font-family: 'Lato', sans-serif;
}

/* event */
.event-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.event-info h3 {
    font-size: 20px;
    padding-bottom: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}
.event-info h3 span {
    border-bottom: 2px solid #00d1cd;
}
.event-info_post {
    position: relative;
    margin-bottom: 15px;
    padding: 5px 0px 15px 55px;
    border-radius: 10px;
}
.event-info_post .content {
     border-bottom:1px solid gray;
 }
.event-info_post:last-child .content {
    border-bottom: none;
}
.event-info_date {
    position: absolute;
    top: 8px;
    left: 0px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.event-info_date p {
    font-size: 33px;
    line-height: 35px;
    color: #00d1cd;
    font-weight: 400;
}
.event-info_date span {
    font-size: 18px;
    font-weight: 200;
    margin-left: 3px;
    color:#00d1cd;
}
.event-info_title h4 {
    font-size: 14px;
    line-height: 20px;
    margin: 5px 0px 3px;
    color: #5e0a0a;
    font-family: 'Lato', sans-serif;
}
.event-info_text p {
    font-size: 12px;
    margin-bottom: 15px;
    font-family: 'Lato', sans-serif;
}
.event-info_button {
    font-size: 11px;
    border: 2px solid black;
    text-align: center;
    margin: 0px 65px 14px 69px;
    text-decoration: none;
    padding: 3px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}
.event-info_button a {
    color:black;
}

/* footer */
.footer {
    background-image: url("../image/footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
}
.footer h2 {
    font-size: 13px;
    color: #fff;
    padding: 30px 0px 15px 0px;
    margin-left: 43px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
}
.footer li {
    margin-bottom: 10px;
    color: #fff;
    font-size: 13px;
    margin-left: 70px;
}
.contact_text {
    color: #fff;
    font-size: 12px;
    margin-left: 50px;
    font-family: 'PT Serif', sans-serif;
    line-height: 18px;
}
.social_list {
    display: flex;
    list-style: none;
    margin: 10px 0px 20px 41px;
}
.social_list li {
    margin: 10px 0px 10px 6px;
}
.social_list a {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: block;
    display: flex;
    justify-content:center;
    align-items: center;
    color:#fff;
}
.footer_bottom {
    background-color: #393434;
    color: #fff;
    font-size: 10px;
    text-align: center;
    padding: 5px;
    letter-spacing: 1px;
}